<div class="listing listing--row-three listing--circle-image">
  <div class="listing__item">
    <a href="#" class="listing__item-container">
      <img src="http://www.placehold.it/520x520" />
      <div class="listing__item-text">Santiago de Compostela</div>
    </a>
  </div>
  <div class="listing__item">
    <a href="#" class="listing__item-container">
      <img src="http://www.placehold.it/520x520" />
      <div class="listing__item-text">Venice</div>
    </a>
  </div>
  <div class="listing__item">
    <a href="#" class="listing__item-container">
      <img src="http://www.placehold.it/520x520" />
      <div class="listing__item-text">Sofia</div>
    </a>
  </div>
</div>
