<div class="section--white">
  <div class="container">
    <h2 class="">Project partners</h2>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.ait.ac.at">
        <img class="img-responsive" src="{{ "images/partners/partner-1.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="https://www.post.at/en">
        <img class="img-responsive" src="{{ "images/partners/partner-2.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="https://www.bettervest.com">
        <img class="img-responsive" src="{{ "images/partners/partner-3.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.bwsg.at/de/home">
        <img class="img-responsive" src="{{ "images/partners/partner-4.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="https://www.muenchen.de/rathaus/home_en.html">
        <img class="img-responsive" src="{{ "images/partners/partner-5.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://santiagodecompostela.gal/english.php?lg=ing">
        <img class="img-responsive" src="{{ "images/partners/partner-6.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.comune.venezia.it">
        <img class="img-responsive" src="{{ "images/partners/partner-7.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.sofia.bg">
        <img class="img-responsive" src="{{ "images/partners/partner-8.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.din.de/en">
        <img class="img-responsive" src="{{ "images/partners/partner-9.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.enedis.fr">
        <img class="img-responsive" src="{{ "images/partners/partner-10.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.enertech.fr">
        <img class="img-responsive" src="{{ "images/partners/partner-11.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.fraunhofer.de/en.html">
        <img class="img-responsive" src="{{ "images/partners/partner-12.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.g5-partners.eu/welcome">
        <img class="img-responsive" src="{{ "images/partners/partner-13.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.gopacom.eu">
        <img class="img-responsive" src="{{ "images/partners/partner-14.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.hespul.org">
        <img class="img-responsive" src="{{ "images/partners/partner-15.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.kelagwaerme.at/fernwaerme.jsp">
        <img class="img-responsive" src="{{ "images/partners/partner-16.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.algoe.fr">
        <img class="img-responsive" src="{{ "images/partners/partner-17.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="https://www.wien.gv.at">
        <img class="img-responsive" src="{{ "images/partners/partner-18.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.energy-cities.eu">
        <img class="img-responsive" src="{{ "images/partners/partner-19.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.grandlyon.com">
        <img class="img-responsive" src="{{ "images/partners/partner-20.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="https://www.securitas.com">
        <img class="img-responsive" src="{{ "images/partners/partner-21.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="https://www.siemens.com">
        <img class="img-responsive" src="{{ "images/partners/partner-22.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.spectrum-mobil.de">
        <img class="img-responsive" src="{{ "images/partners/partner-23.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.lyon-confluence.fr/en/index.html">
        <img class="img-responsive" src="{{ "images/partners/partner-24.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.sycube.at">
        <img class="img-responsive" src="{{ "images/partners/partner-25.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.tum.de/en/homepage">
        <img class="img-responsive" src="{{ "images/partners/partner-26.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.toshiba.eu">
        <img class="img-responsive" src="{{ "images/partners/partner-27.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="https://www.unisg.ch/en">
        <img class="img-responsive" src="{{ "images/partners/partner-28.png" | relative_url }}" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a target="_blank" href="http://www.wienerstadtwerke.at/eportal3">
        <img class="img-responsive" src="{{ "images/partners/partner-29.png" | relative_url }}" />
      </a>
    </div>
  </div>
</div>

<footer class="section--footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-push-4 col-lg-9 col-lg-push-3">
        <div class="row">

          <div class="col-lg-2">
            <div class="block">
              <h3 class="block__title">The project</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="{{ "objectives" | relative_url }}"  class="nav-vertical__link">Objectives</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "partners" | relative_url }}"  class="nav-vertical__link">Partners</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="block">
              <h3 class="block__title">Cities</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="{{ "cities/vienna" | relative_url }}"  class="nav-vertical__link">Vienna</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "cities/munich" | relative_url }}"  class="nav-vertical__link">Munich</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "cities/lyon" | relative_url }}"  class="nav-vertical__link">Lyon</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "cities/santiago-de-compostela" | relative_url }}"  class="nav-vertical__link">Santiago de Compostela</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "cities/venice" | relative_url }}"  class="nav-vertical__link">Venice</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "cities/sofia" | relative_url }}"  class="nav-vertical__link">Sofia</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "cities/kiev" | relative_url }}"  class="nav-vertical__link">Kiev</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "cities/yokohama" | relative_url }}"  class="nav-vertical__link">Yokohama</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="block">
              <h3 class="block__title">Solutions</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="{{ "solutions/citizen-engagement" | relative_url }}"  class="nav-vertical__link">Citizen engagement</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "solutions/district-heating-and-renewables" | relative_url }}"  class="nav-vertical__link">District heating and renewables</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "solutions/holistic-refurbishment" | relative_url }}"  class="nav-vertical__link">Holistic refurbishment</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "solutions/smart-data" | relative_url }}"  class="nav-vertical__link">Smart data</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "solutions/e-mobility" | relative_url }}"  class="nav-vertical__link">E-mobility</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="block">
              <h3 class="block__title">Results</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="{{ "results/expected-results" | relative_url }}"  class="nav-vertical__link">Expected results</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "results/deliverables" | relative_url }}"  class="nav-vertical__link">Deliverables</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="block">
              <h3 class="block__title">Club of Cities</h3>
              <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="{{ "club-of-cities/about" | relative_url }}"  class="nav-vertical__link">About the Club</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "club-of-cities/kickoff" | relative_url }}"  class="nav-vertical__link">Kick-Off Meeting</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="block">
              <h3 class="block__title">What's new</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="{{ "news" | relative_url }}"  class="nav-vertical__link">News</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="{{ "events" | relative_url }}"  class="nav-vertical__link">Events</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="block">
              <h3 class="block__title">Contact</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="{{ "team" | relative_url }}"  class="nav-vertical__link">Team</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="col-md-6">
            <p><a href="{{ "legal-notice" | relative_url }}">Legal notice</a></p>
          </div>
          <div class="col-md-6">
            <ul class="social-links list-inline pull-lg-right">
              <li class="social-links__item">
                <a target="_blank" href="https://www.facebook.com/SmarterTogetherProject">
                  <i class="icon icon--social-facebook"></i>
                </a>
              </li>
              <li class="social-links__item">
                <a target="_blank" href="https://twitter.com/SmarterH2020">
                  <i class="icon icon--social-twitter"></i>
                </a>
              </li>
              {% comment %}
              <li class="social-links__item">
                <a target="_blank" href="#">
                  <i class="icon icon--social-linkedin"></i>
                </a>
              </li>
              <li class="social-links__item">
                <a target="_blank" href="#">
                  <i class="icon icon--social-youtube"></i>
                </a>
              </li>
              {% endcomment %}
            </ul>
            <br/>
          </div>
        </div>
      </div>
      <div class="col-xs-push-4 col-xs-4 col-sm-3 col-sm-push-0 col-sm-pull-8 col-lg-2 col-lg-pull-9">
        <img src="{{ "images/svg/eu-logo.svg" | relative_url }}" class="img-responsive" />
        <br />
        <p>This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No. 691876</p>
      </div>
    </div>
  </div>
</footer>
