<div class="section--white">
  <div class="container">
    <h2 class="">Project partners</h2>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-1.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-2.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-3.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-4.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-5.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-6.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-7.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-8.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-9.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-10.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-11.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-12.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-13.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-14.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-15.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-16.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-17.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-18.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-19.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-20.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-21.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-22.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-23.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-24.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-25.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-26.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-27.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-28.png" />
      </a>
    </div>
    <div class="partner col-sm-2">
      <a href="#">
        <img class="img-responsive" src="/images/partners/partner-29.png" />
      </a>
    </div>
  </div>
</div>

<footer class="section--footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-push-4 col-lg-9 col-lg-push-3">
        <div class="row">

          <div class="col-lg-2">
            <div class="block">
              <h3 class="block__title">The project</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="/objectives" class="nav-vertical__link">Objectives</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/partners" class="nav-vertical__link">Partners</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="block">
              <h3 class="block__title">Cities</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="/cities/vienna" class="nav-vertical__link">Vienna</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/cities/munich" class="nav-vertical__link">Munich</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/cities/lyon" class="nav-vertical__link">Lyon</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/cities/santiago-de-compostela" class="nav-vertical__link">Santiago de Compostela</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/cities/venice" class="nav-vertical__link">Venice</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/cities/sofia" class="nav-vertical__link">Sofia</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/cities/kiev" class="nav-vertical__link">Kiev</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/cities/yokohama" class="nav-vertical__link">Yokohama</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="block">
              <h3 class="block__title">Solutions</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="/solutions/citizen-engagement" class="nav-vertical__link">Citizen engagement</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/solutions/district-heating-and-renewables" class="nav-vertical__link">District heating and renewables</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/solutions/holistic-refurbishment" class="nav-vertical__link">Holistic refurbishment</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/solutions/smart-data" class="nav-vertical__link">Smart data</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/solutions/e-mobility" class="nav-vertical__link">E-mobility</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="block">
              <h3 class="block__title">Results</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="/results/expected-results" class="nav-vertical__link">Expected results</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/results/deliverables" class="nav-vertical__link">Deliverables</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="block">
              <h3 class="block__title">What's new</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="/news" class="nav-vertical__link">News</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="/events" class="nav-vertical__link">Events</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="block">
              <h3 class="block__title">Contact</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="/team" class="nav-vertical__link">Team</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="col-md-6">
            <p>The information on this site is subject to a Disclaimer.<br />Copyright Notice and Protection of personal data.</p>
          </div>
          <div class="col-md-6">
            <ul class="social-links list-inline pull-lg-right">
              <li class="social-links__item">
                <a target="_blank" href="https://www.facebook.com/SmarterTogetherProject">
                  <i class="icon icon--social-facebook"></i>
                </a>
              </li>
              <li class="social-links__item">
                <a target="_blank" href="https://twitter.com/SmarterH2020">
                  <i class="icon icon--social-twitter"></i>
                </a>
              </li>
              {% comment %}
              <li class="social-links__item">
                <a target="_blank" href="#">
                  <i class="icon icon--social-linkedin"></i>
                </a>
              </li>
              <li class="social-links__item">
                <a target="_blank" href="#">
                  <i class="icon icon--social-youtube"></i>
                </a>
              </li>
              {% endcomment %}
            </ul>
            <br/>
          </div>
        </div>
      </div>
      <div class="col-xs-push-4 col-xs-4 col-sm-3 col-sm-push-0 col-sm-pull-8 col-lg-2 col-lg-pull-9">
        <img src="/images/svg/eu-logo.svg" class="img-responsive" />
        <br />
        <p>This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No. 689527</p>
      </div>
    </div>
  </div>
</footer>
