<footer class="section--footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-push-4 col-lg-9 col-lg-push-3">
        <div class="row">

          <div class="col-xs-4 col-lg-2">
            <div class="block">
              <h3 class="block__title">The project</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 1</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 2</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 3</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 4</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 5</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-xs-4 col-lg-2">
            <div class="block">
              <h3 class="block__title">Solution</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 1</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 2</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 3</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 4</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 5</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-xs-4 col-lg-2">
            <div class="block">
              <h3 class="block__title">Results</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 1</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 2</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 3</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 4</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 5</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-xs-4 col-lg-2">
            <div class="block">
              <h3 class="block__title">Cities</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 1</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 2</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 3</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 4</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 5</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-xs-4 col-lg-2">
            <div class="block">
              <h3 class="block__title">News</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 1</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 2</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 3</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 4</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 5</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-xs-4 col-lg-2">
            <div class="block">
              <h3 class="block__title">Contact</h3>
                <div class="block__content">
                <ul class="nav-vertical">
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 1</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 2</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 3</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 4</a>
                  </li>
                  <li class="nav-vertical__item">
                    <a href="#" class="nav-vertical__link">Link 5</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="col-md-6">
            <p>Do you have any thoughts of your own on this matter? Or do you, is that your thing, you come into a bar, read some obscure passage and then pretend - you pawn it off as your own, as your own idea just to impress some girls, embarrass my friend?</p>
          </div>
          <div class="col-md-6">
            <ul class="social-links list-inline pull-lg-right">
              <li class="social-links__item"><i class="icon icon--social-facebook"></i></li>
              <li class="social-links__item"><i class="icon icon--social-twitter"></i></li>
              <li class="social-links__item"><i class="icon icon--social-linkedin"></i></li>
              <li class="social-links__item"><i class="icon icon--social-youtube"></i></li>
            </ul>
            <br/>
          </div>
        </div>
      </div>
      <div class="col-xs-push-4 col-xs-4 col-sm-3 col-sm-push-0 col-sm-pull-8 col-lg-2 col-lg-pull-10 text-justify">
        <img src="images/svg/eu-logo.svg" class="img-responsive" />
        <br />
        <p>It's in the fridge, daddy-o! Are you hip to the jive? Can you dig what I'm layin' down? I knew that you could. Slide me some skin, soul brother!</p>
      </div>
    </div>
  </div>
</footer>
