<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ "bootstrap-sass/javascripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
<script src="{{ "js/scripts.js" | prepend: site.baseurl }}?{{ site.time | date:'%Y%m%d%H%m%S' }}"></script>
<!-- <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script> -->