// Parallax
//
// Parallax image background
//
// Markup: html/parallax.html
//
// Styleguide 4.28


// Component
// --------------------------------------------------
.parallax
  background: url('http://placehold.it/1024x1024') no-repeat center center
  background-size: cover
  position: fixed
  width: 100%
  height: 100vh
  top: 0
  left: 0
  z-index: -1
