<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include nav--club-of-cities.html %}

<header class="header">
  <img class="img-responsive" src="/images/header-default.png">
  <div class="container">
    <div class="header__text-wrapper">
      <h2 class="header__pre-text">Invitation</h2>
      <h1 class="header__primary-text">Club of Cities</h1>
      <h1 class="header__primary-text">Kick-off Meeting</h1>
      <div class="header__secondary-text text-center">26 April 2017 from 12:30 to 14:30</div>
      <div class="header__secondary-text text-center">Stuttgart, Germany</div>
    </div>
  </div>
</header>

<div class="section--white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center text-gray">You are invited to join<br> an innovative knowledge-sharing Club of Cities<br> to implement Smart City solutions!</h2>
      </div>
      <div class="col-sm-4">
        <p>The kick-off meeting of the Smarter Together Club of Cities will take place at Energy Cities’ Annual Conference, where the main objectives, activities, and interests of the Club of Cities will be discussed:</p>
        <h2 class="text-left text-gray text-transform-initial"><span class="ornament ornament-multiple-lines">26 April 2017</span><br> 12:30 – 14:30<br> Stuttgart, Germany</h2>
      </div>
      <div class="col-sm-8">
        <p>Draft Agenda</p>
        <table class="table--bordered table--top-aligned">
          <tbody>
            <tr>
              <th style="width: 120px">12:30 – 12:40</th>
              <td class="text-left">Welcome</td>
            </tr>
            <tr>
              <th style="width: 120px">12:40 – 13:00</th>
              <td class="text-left">
                <p>Presentation of the context and main objectives of the Club of Cities</p>
                <ul>
                  <li>Presentation by Energy Cities</li>
                  <li>Q&A</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th style="width: 120px">13:00 – 13:30</th>
              <td class="text-left">
                <p>Presentation of the activities of pilot and follower cities in Smarter Together</p>
                <ul>
                  <li>Panel by lighthouse city representative</li>
                  <li>Presentation from follower cities by ENC</li>
                  <li>Q&A</li>
                </ul>
                <p>Presentation of the activities of pilot and follower cities in Smarter Together</p>
            </tr>
            <tr>
              <th style="width: 120px">13:30 – 14:00</th>
              <td class="text-left">Showcase smart solutions of participating cities (Pecha Kucha)</td>
            </tr>
            <tr>
              <th style="width: 120px">14:00 – 14:20</th>
              <td class="text-left">
                <p>Discussion on expectation of potential member cities to join the Club and potential activities (moderation by Energy Cities)</p>
                <ul>
                  <li>Group work reflection</li>
                </ul>
            </tr>
            <tr>
              <th style="width: 120px">14:20 – 14:30</th>
              <td class="text-left">Wrap-up and summary</td>
            </tr>
            <tr>
              <th style="width: 120px">15:00 – 18:00</th>
              <td class="text-left">Study Tour (Please Register Separately)</td>
            </tr>
          </tbody>
        </table>
        <p><strong>Room setting:</strong> Please note there are a limited amount of places available, with a maximum attendance of 40 – reservation is recommended as soon as possible.</p>
        <p>You will also have the possibility to participate in Energy Cities’ Annual Conference on 27 April all day, and on 28 April in the morning.</p>
        <p>For registration, please visit the following link where you will also find more information, as well as the conference program:</p>
        <p><a href="http://annualconference.energy-cities.eu">http://annualconference.energy-cities.eu</a></p>
      </div>
    </div>
  </div>
</div>

<div class="section--gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <h2 class="text-center text-gray"><span class="ornament ornament-multiple-lines">What is the Smarter Together Club of Cities?</span></h2>
        <p>The Smarter Together Club of Cities will bring together cities from Europe and beyond with the objective of improving their capacity to implement Smart City solutions through networking, study visits and online tools. The European lighthouse cities of Vienna, Munich and Lyon; the follower cities of Santiago de Compostela, Sofia and Venice; and the observer cities of Kiev and Yokohama are already working together to improve the quality of life of their citizens in the framework of the Smarter Together project. They will share their experience in five areas of <strong>co-created</strong> and <strong>replicable</strong> integrated smart solutions: citizen engagement, district heating & renewable energy, holistic refurbishment, smart data and e-mobility.</p>
      </div>
    </div>
  </div>
</div>

<div class="section--white">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="text-left text-gray">Which city can participate in the Club of Cities?</h2>
        <p>Any city interested in Smart City solutions is welcome to join the Club of Cities, especially if focusing on the issues of political governance, business models and citizen engagement.</p>
      </div>
      <div class="col-sm-6">
        <h2 class="text-left text-gray">How to join the Club of Cities?</h2>
        <p>If you are interested in joining and want to take part in the kick-off meeting, please contact Energy Cities at the following address:</p>
        <p><a href="mailto:smartertogether@energy-cities.eu">smartertogether@energy-cities.eu</a></p>
        <p>Once we have received your expression of interest, we will contact you to finalize your membership in the Smarter Together Club of Cities.</p>
      </div>
    </div>
  </div>
</div>

<map name="coc">
  <area  alt="" title="" href="http://annualconference.energy-cities.eu" shape="rect" coords="530,1688,808,1711" style="outline:none;" target="_blank" />
  <area  alt="" title="" href="mailto:smartertogether@energy-cities.eu" shape="rect" coords="694,2329,925,2352" style="outline:none;" target="_self" />
</map>

{% include footer.html %}

{% include scripts.html %}

</body>

</html>
