<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include nav--club-of-cities.html %}

<header class="header">
  <img class="img-responsive" src="/images/parallax.jpg">
  <div class="container">
    <div class="header__text-wrapper text-center">
      <h1 class="header__primary-text">Club of Cities</h1>
    </div>
  </div>
</header>

<div class="section--gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left"><span class="ornament">What is Smarter Together?</span></h2>
        <p>Smarter Together is a project that is part of the European Union’s Horizon 2020 research program. The goal of the initiative is to develop co-created and replicable Smart City solutions in 5 concrete areas– citizen engagement, district heating & renewable energy, holistic refurbishment, smart data and e-mobility.</p>
        <p>The European lighthouse cities Vienna, Munich and Lyon; the follower cities Santiago de Compostela, Sofia and Venice; and the observer cities Kiev and Yokohama come together in order to improve the quality of life of their citizens.</p>
        <p>Smarter Together will prepare the ground for large-scale replication and ensure an in-depth knowledge transfer. Additionally, the focus is to set up Smart City business models and user-centric innovation in order to contribute to positive societal dynamics.</p>
        <hr>
        <div class="row">
          <div class="col-xs-4 col-sm-3">
            <img class="img-responsive" src="/images/svg/eu-logo.svg">
          </div>
          <div class="col-xs-8 col-sm-9">
            <p>This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 691876</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-left">
          <span class="ornament">What is the Smarter Together</span>
          <span class="ornament">Club of Cities?</span>
        </h2>
        <p>The Smarter Together Club of Cities will bring together cities from Europe and beyond with the objective of improving their capacity to implement Smart City solutions through networking, study visits and online tools. The cities already participating in the Smarter Together project will share their experience in five areas of co-created and replicable integrated smart solutions: citizen engagement, district heating & renewable energy, holistic refurbishment, smart data and e-mobility. In addition, members will benefit in multiple ways:</p>
        <ul>
          <li>Access to excellent Smart City Know-How, notably to the Smarter Together Wiki</li>
          <li>Participation in study visits in the Lighthouse Cities Vienna, Munich and Lyon, where innovative Smart City solutions on demonstration sites will be showcased</li>
          <li>Direct access to city staff in the Lighthouse, Follower and Observer Cities of Smarter Together, enabling sharing of experience and know-how</li>
          <li>Regular meetings of the Club of Cities, with the participation of city staff from the Lighthouse and Follower Cities</li>
          <li>First-hand shared successful solutions from the Smarter Together project</li>
          <li>Possibility to disseminate and showcase own actions and good practices via the Smarter Together communication channels</li>
          <li>Collaboration in defining the future Smarty City themes the Club of Cities will focus on</li>
          <li>Cross-border and international networking opportunities between European and international cities (from the Americas, Asia, etc.)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section--white">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="text-left text-gray">Which city can participate in the Club of Cities?</h2>
        <p>Any city with a determined focus and interest on Smart City solutions is welcome to join the Club of Cities, especially with an interest in the lighthouse city model and with a focus on the themes of political governance, business models, and citizen engagement introduced above.</p>
      </div>
      <div class="col-sm-6">
        <h2 class="text-left text-gray">How to join the Club of Cities?</h2>
        <p>If you are interested in joining the Club of Cities, please contact Energy Cities at the following address:</p>
        <p><a href="mailto:smartertogether@energy-cities.eu">smartertogether@energy-cities.eu</a></p>
        <p>Once we have received your expression of interest, we will contact you to finalize your membership in the Smarter Together Club of Cities.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 text-center">
        <h2 class="text-center text-gray"><span class="ornament">Kick-off Meeting</span></h2>
        <p>Please join us for the first Club of Cities meeting:</p>
        <h3 class="text-center text-transform-initial">April 26th, 2017, from 12:30 to 14:30 in Stuttgart, Germany</h3>
        <p>The meeting will take place during Energy Cities’ annual conference in Stuttgart, Germany, where the main objectives, activities, and interests of the Club of Cities will be discussed.</p>
      </div>
    </div>
  </div>
</div>

<map name="coc">
  <area alt="" title="" href="mailto:smartertogether@energy-cities.eu" shape="rect" coords="694,1618,918,1652" style="outline:none;" target="_self" />
</map>

{% include footer.html %}

{% include scripts.html %}

</body>

</html>
