<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="events-page">

    {% include nav--news.html %}

    {% assign content = content | strip_newlines %}
    <header class="header text-center" style="background-image: url('{{ page.bckimageurl | relative_url }}');">
      <div class="overlay">
      </div>
      <div class="container">
        <div class="header__text-wrapper">
          <h1 class="header__primary-text">{{ page.title }}</h1>
          <div class="header__secondary-text text-muted">{{ page.subtitle }}</div>
        </div>

        {% if content != "" %}
        {% endif %}
      </div>
    </header>

    {% if content != "" %}
      {% if page.boximageurl != "" %}
        <div class="container image-box text-center">
          <div class="row">
            <div class="col-md-6">
              <div class=" img-responsive"><img  src="{{ page.imageurl | relative_url }}" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-box__text">                     <p> <b>Date: </b> {{ page.date | date: '%d %B %Y'}} <br> <b>Location: </b> {{ page.location }} </p>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    <div id="content" class="scroll-fix">
      <div class="section--gray">
        <div class="container">
          <div class="limited-width">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
