<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include nav.html %}

<header class="header">
  <img class="img-responsive" src="/images/header-default.png" />
  <div class="container">
    <div class="header__text-wrapper text-center">
      <h1 class="header__primary-text">{{ page.title }}</h1>
      <!-- <div class="header__secondary-text">{{ page.subtitle }}</div> -->
    </div>
  </div>
</header>

<div class="section--gray">
  <div class="container">
    <div class="limited-width">
      {% if page.imageurl %}
      <p>
        <img class="img-responsive" src="{{ page.imageurl | relative_url }}" />
      </p>
      {% endif %}
      <p>
        <small class="post__meta text-muted">
          {{ page.date | date_to_string }}{% if page.end-date %} - {{ page.end-date | date_to_string }}{% endif %}
          {% if page.location %}
            <p><strong>Location:</strong> {{ page.location }}</p>
          {% endif %}
        </small>
      </p>
      {{ content }}
    </div>
  </div>
</div>

{% include footer.html %}

{% include scripts.html %}

</body>

</html>
